/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 75px;
    padding-bottom: 100px;
}

#logoHeader {
	margin-right: 25px;
	margin-top: 2px;
}

#RigthHeader {
	margin-top: 14px;
	margin-right: 15px;
}

#leftHeader {
	margin-top: 25px;
	margin-left: 15px;
}

#topBanner {
	min-width: 300px;
	max-height: 250px;
	min-height: 75px;
	margin: 25px 0;
	background-color: #ccc;
}

#separador {
	width: 5px;
	height: 28px;
	background-color: #fff;
	margin: 0 15px;
}

#TuVotax {
	margin-top: 4px;
}

.headerFb {
	width: 24px;
	height: 24px;
	background-image: url("../img/social.png");
	background-position: 0 0;
	margin: 0 7px !important;
}

.headerTw {
	width: 34px;
	height: 28px;
	background-image: url("../img/social.png");
	background-position: -38px 0;
	margin: 0 7px !important;
}

.headerIg {
	width: 23px;
	height: 24px;
	background-image: url("../img/social.png");
	background-position: -82px 0;
	margin: 0 7px !important;
}

.headerYt {
	width: 37px;
	height: 27px;
	background-image: url("../img/social.png");
	background-position: -118px 0;
	margin: 0 7px !important;
}

.headerPr {
	width: 25px;
	height: 29px;
	background-image: url("../img/social.png");
	background-position: 25px 0;
	margin: 0 7px !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	margin: 0;
	padding: 0;
}



#headerBg, #footerBg {
	background: #01142a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMTQyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDEwMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #01142a 0%, #001022 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01142a), color-stop(100%,#001022)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #01142a 0%,#001022 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #01142a 0%,#001022 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #01142a 0%,#001022 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #01142a 0%,#001022 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01142a', endColorstr='#001022',GradientType=0 ); /* IE6-8 */
	height: 75px;
}

/*Twitter Footer*/

#footerTws {
	color: #fff;
	font-size: 18px;
	margin-top: 15px;
}

#tw-destacados {
	font-size: 14px;
	width: 75%;
	float: left;
	color: #fff;
}

#tw-titulo {
	float: left;
	width: 25%
}

.prog-col {
	width: 40%;
	float: left;
	color: #fff;
}

#prog-titulo {
	width: 20%;
	float: left;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}

.prog-col h1 {
	font-size: 16px;
	margin:0;
	padding: 0;
}

#prog-slide {
	margin-top: 22px;
}











